#!/bin/bash

source $HOME/.functions

# Get OS informatio
export OS=`uname -s`
export OSREV=`uname -r`
export OSARCH=`uname -m`

# XDG path
export XDG_CONFIG_HOME=$HOME/.config                                                                                           

# Go language
export GOPATH=$HOME/.go                                                                                                         

# Developing in C/C++
export CMAKE_BUILD_PARALLEL_LEVEL=4                                                                                            
export C_INCLUDE_PATH=/usr/local/include                                                                                       
export LIBRARY_PATH=/usr/local/lib                                                                                             

# Docs
export MANPAGER='nvim +Man!'                                                                                                   

# Search
export RIPGREP_CONFIG_PATH=$HOME/.ripgreprc                                                                                    

# Terminal
export CLICOLOR=1                                                                                                              
export fish_greeting=   

# Editor
export EDITOR=nvim
export VISUAL=$EDITOR

# Home paths
add_path $HOME/bin                                                                                                             

# Rust / Cargo
export CARGO_HOME=$HOME/opt/cargo
add_path $CARGO_HOME/bin                                                                                                  

# Brew paths
BREW_PREFIX=$(brew --prefix)
add_path $BREW_PREFIX/opt/ruby/bin                                                                                   
add_path $BREW_PREFIX/opt/cython/bin                                                                                 

export HOWDOI_COLORIZE=1

source $HOME/.alias
source $HOME/.shell.config.local
source $HOME/.exec_fish
